.digits {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  margin: auto 0;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: white;
}
