.feynman__title {
  display: flex;
  position: relative;
  width: 687px;
  flex-wrap: wrap;
  align-self: center;
  text-align: center;
  margin: 0;
  padding: 0;
  justify-content: center;
  z-index: 2;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
}
